

.container {
    height: 100vh;
    width: 100vw; 
    background-image: url("/public/images/NeonBricks.png");
    background-size: 90vw;  
    background-position: center;
    background-repeat: no-repeat;      
    display: flex;
    align-items: center;
    justify-content: center;
  }



.banner {   
 position: absolute; 
 top: 10%;
 font-size: 10rem;       
  }

  .start-button {
    position: fixed;
    right:43%;
    bottom: 12.5%;
  }
  @media (max-width: 1333px)
  {
    .container {
      background-image: url("/public/images/NeonBricks2.png");
    }
  }

@media (max-width: 600px) {
   .banner {
    font-size: 5rem;
   }
    }

   
       