.loading {
    color: white;
    font-size: 3em;
    position: absolute;
    top: 45%;
    left: 45%;
}

.quit-game {
    position: absolute;
    top: 90%;
    left: 43%;
}
.game-modal {
    height: 50%;
    width: 40%;    
    text-align: center;   
    font-size: 2em;
    position: absolute;
    top: 20%;
    left: 30%;
}
.question-container {    
    color: white;   
    padding: 8rem 0 0 15rem;
    height:55%;
    width: 80%;
    font-size: 3.5rem;
}

.answer-container {
    display: flex;    
    height: 40%;
    width: 100%;
    flex-wrap: wrap;
}

.answer-btn {    
    color:black;
    width: 80%;
    height:35%; 
    margin-left: 7rem;              
}

.answer {
    width: 90%;
    font-size:0.5em!important;         
}

.question-counter {
    height:4vh;
    width: 30vw;
    position: absolute;
    font-size: 0.75em;
    top: 2%;
    right:15%;
}

.quit-game {
    padding-left:5rem;  
}

@media (max-width: 2000px) {
    .question-counter {
        top:-15%;
        left: 25%;
    }

    
    .game-modal {       
        width: 80%;    
        text-align: center;   
        font-size: 3em;
        position: absolute;
        top: 25%;
        left: 15%;
    }
}
    @media (max-width: 1300px) {
        .answer-btn { 
            width: 50%;
            height:35%; 
            margin-left: 10rem;              
        }
        .quit-game {
            padding:0;
        }
}

@media (max-width: 900px) {

    .question-counter {    
        font-size: 0.5em;      
    }

    .answer-btn { 
        width: 100%;
        height:35%;        
        font-size: 3rem;
    }

    .quit-game {
        padding:0;
    }

    .question-container {      
        padding: 8rem 0 0 0;
        height:60%;
        width: 100%;
        font-size: 3.5rem;
    }

    .answer-container {    
        width: 150%;
        position: absolute;
        left: -45%;    
    }    
}

@media (max-width: 600px) {
    .question-counter {    
        font-size: 0.4em;      
    }
    .question-container {           
        font-size: 2.5rem;
    }
        
    .answer-container {  
            position: absolute;
          left: -55%;   
    }      
}

@media (max-width: 440px) {
    .question-counter {    
        font-size: 0.3em;      
    }
    .question-container {           
        font-size: 2rem;
    }
        
    .answer-container {  
        position: absolute;
        left: -63%;   
    }      
}