.loading {
    color: white;
    font-size: 3em;
    position: absolute;
    top: 45%;
    left: 45%;
}

.quit-game {
    position: absolute;
    top: 75%;
    left: 47%;
}
.game-modal {
    height: 50%;
    width: 40%;
    background-color: white;
    text-align: center;
    color: blue;
    font-size: 3em;
    position: absolute;
    top: 20%;
    left: 30%;
}
.question-container {
    background-color: blue;
    color: white;
    height:50%;
    width: 100%;
}

.answer-container {
    display: flex;
    background-color: red;
    height: 50%;
    width: 100%;
    flex-wrap: wrap;
}

.answer-btn {
    background-color: azure;
    color:black;
    width: 50%;
    height:50%;    
}