.game-start {
   
    height: 50%;
    width: 40%;        
    text-align:center;
    position: fixed;
    top:25%;
    right:30%;
    
}
.color-me {
    background-color: aqua;
}

.form-select {
    width: 70%;
    height: 2em;
}

.select-container {
margin: 5em;
}