.game-start {
    padding-top: 1.5%;
    height: 50%;
    width: 40%;        
    text-align:center;
    position: fixed;
    top:25%;
    right:30%;
    
}

.form-select {
    width: 70%;
    height: 2em;
    background-color: rgb(253, 253, 253);
}

.select-container {
margin-bottom: 5em;
padding-top: 1.5em;
}

.select-label {
    color:white;
    font-size: 2em;
}

